### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# vs code
.vscode

# chrome driver
backend/src/test/java/gradjanibrzogbroda/backend/e2e/driver/chromedriver.exe
