<p-table
  [value]="jela"
  responsiveLayout="scroll"
  class="center"
  [scrollable]="true"
  scrollHeight="400px"
  [lazy]="true"
  (onLazyLoad)="loadJela($event)"
  [paginator]="true"
  [rows]="3"
  [totalRecords]="totalJela"
  [loading]="loading"
  [globalFilterFields]="[
    'naziv',
    'trenutnaCena',
    'vremePripremeMils',
  ]"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">Jela</div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="naziv">
        Naziv <p-sortIcon field="naziv"></p-sortIcon>
      </th>
      <th>Slika</th>
      <th pSortableColumn="cena">
        Cena <p-sortIcon field="cena"></p-sortIcon>
      </th>
      <th>Kategorija</th>
      <th>Tip</th>
      <th pSortableColumn="vremePripremeMils">
        Vreme Pripreme <p-sortIcon field="vremePripremeMils"></p-sortIcon>
      </th>
      <th></th>
    </tr>
    <tr>
      <th>
        <p-columnFilter type="text" field="naziv"></p-columnFilter>
      </th>
      <th></th>
      <th><p-columnFilter type="numeric" field="trenutnaCena"></p-columnFilter></th>
      <th>
        <p-columnFilter
          field="kategorijaJela"
          matchMode="in"
          [showMenu]="false"
        >
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect
              [ngModel]="value"
              [options]="kategorije"
              placeholder="Any"
              (onChange)="filter($event.value)"
              optionLabel="name"
            >
              <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                  <span class="p-ml-1">{{ option.name }}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
      </th>
      <th>
        <p-columnFilter
          field="tipJela"
          matchMode="in"
          [showMenu]="false"
        >
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect
              [ngModel]="value"
              [options]="tipovi"
              placeholder="Any"
              (onChange)="filter($event.value)"
              optionLabel="name"
            >
              <ng-template let-option pTemplate="item">
                <div class="p-multiselect-representative-option">
                  <span class="p-ml-1">{{ option.name }}</span>
                </div>
              </ng-template>
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
      </th>
      <th><p-columnFilter type="numeric" field="vremePripremeMils"></p-columnFilter></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-jelo>
    <tr>
      <td>{{ jelo.naziv }}</td>
      <!--<td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="p-shadow-4" /></td>-->
      <td>
        <img
          [src]="'assets/home_images/waiter.jpg'"
          width="100"
          class="p-shadow-4"
        />
      </td>
      <td>{{ jelo.trenutnaCena }} RSD</td>
      <td>{{ jelo.kategorijaJela }}</td>
      <td>{{ jelo.tipJela }}</td>
      <td>{{ jelo.vremePripremeMils / 1000 / 60 }} min</td>
      <td>
        <p-button (click)="showModalDialog(jelo)"
          ><i class="pi pi-info"></i
        ></p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
  </ng-template>
</p-table>

<p-dialog
  header="Opis jela"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '15vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="p-grid">
    <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
      <div class="p-fluid">
        {{ selectedJelo ? selectedJelo.opis : "Greska" }}
      </div>
    </div>
  </div>
</p-dialog>

<p-divider></p-divider>

<p-table
  [value]="pica"
  responsiveLayout="scroll"
  class="center"
  [scrollable]="true"
  scrollHeight="400px"
  [lazy]="true"
  (onLazyLoad)="loadPica($event)"
  [paginator]="true"
  [rows]="3"
  [totalRecords]="totalPica"
  [loading]="loading"
  [globalFilterFields]="[
    'naziv',
    'trenutnaCena',
  ]"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">Pica</div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="naziv">
        Naziv <p-sortIcon field="naziv"></p-sortIcon>
      </th>
      <th>Slika</th>
      <th pSortableColumn="cena">
        Cena <p-sortIcon field="cena"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th>
        <p-columnFilter type="text" field="naziv"></p-columnFilter>
      </th>
      <th></th>
      <th><p-columnFilter type="numeric" field="trenutnaCena"></p-columnFilter></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pice>
    <tr>
      <td>{{ pice.naziv }}</td>
      <!--<td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="p-shadow-4" /></td>-->
      <td>
        <img
          [src]="'assets/home_images/waiter.jpg'"
          width="100"
          class="p-shadow-4"
        />
      </td>
      <td>{{ pice.trenutnaCena }} RSD</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
  </ng-template>
</p-table>
