<p-toast></p-toast>
<div style="margin-top: 20px" class="center">
  <div>
    <p-toolbar>
      <div class="p-toolbar-group-left" style="margin-right: 150px;">Porudzbine</div>

      <div class="p-toolbar-group-right">
        <button
          pButton
          pTooltip="Undo"
          icon="pi pi-refresh"
          class="p-button-outlined p-button-raised p-button-rounded"
          style="margin-right: 5px"
          (click)="undoAction()"
        ></button>
        <button
          pButton
          pTooltip="Reload"
          (click)="reloadPorudzbine()"
          icon="pi pi-sync"
          class="p-button-outlined p-button-raised p-button-rounded"
        ></button>
      </div>
    </p-toolbar>
    <p-accordion [multiple]="true">
      <p-accordionTab *ngFor="let porudzbina of porudzbine">
        <ng-template pTemplate="header"
          ><div>Porudzbina {{ porudzbina.id }}</div>
          <button
            style="margin-left: auto;margin-right: 5px;"
            pButton
            pTooltip="Pripremi porudzbinu"
            class="p-button-outlined p-button-raised p-button-rounded"
            (click)="pripremiPica(porudzbina)"
            icon="pi pi-forward"
          ></button>
          <button

            pButton
            pTooltip="Napomena za porudzbinu"
            class="p-button-outlined p-button-raised p-button-rounded"
            (click)="showModalDialog(porudzbina.napomena)"
            icon="pi pi-info"
          ></button
        ></ng-template>
        <ng-template pTemplate="content">
          <p-table
            [value]="porudzbina.picaPorudzbine"
            responsiveLayout="scroll"
          >
            <ng-template pTemplate="header">
              <tr (dblclick)="pripremiPica(porudzbina)">
                <th>Piće</th>
                <th>Količina</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pice>
              <tr >
                <td>{{ pice.pice.naziv }}</td>
                <td>{{ pice.kolicina}}</td>
                <td>
                  <button
                    pButton
                    pTooltip="Napomena za piće"
                    class="p-button-outlined p-button-raised p-button-rounded"
                    (click)="showModalDialog(pice.napomena)"
                    icon="pi pi-info"
                  >
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>

<p-dialog
  header="Napomena"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '15vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="p-grid">
    <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
      <div class="p-fluid">
        {{ napomena }}
      </div>
    </div>
  </div>
</p-dialog>
