<div class="center">
  <div *ngIf="zone.length > 0">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <button
          pButton
          pTooltip="Reload"
          icon="pi pi-sync"
          class="p-button-outlined p-button-raised p-button-rounded"
        ></button>
      </div>
      <div class="p-toolbar-group-right">
        <p-dropdown
          [options]="zone"
          [(ngModel)]="selectedZona"
          optionLabel="naziv"
        ></p-dropdown>
      </div>
    </p-toolbar>
    <div
      style="text-align:center;"
      class="container"
    >
    <img [src]="getTemplatePic(selectedZona.templateBase64)" width="100%" height="100%"/>
      <ng-container *ngFor="let table of selectedZona.stolovi">
        <div
          [ngStyle]="{ 'left.px': table.x, 'top.px': table.y,  'user-select': 'none'}"
          [id]="table.id"
          class="circle"
          [style]="
            !table.zauzet
              ? 'background: #ccc;'
              : 'background: rgb(230, 190, 14);'
          "
          (dblclick)="openSidebar(table)"
        >
          {{ table.naziv }}
        </div>
      </ng-container>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="showSidebar" [style]="{ overflow: 'scroll',width:'30em' }">
  <h2>{{ selectedSto ? selectedSto.naziv : "Greska" }}</h2>
  <h4>Broj mesta: {{ selectedSto ? selectedSto.brojMesta : "Greska" }}</h4>
  <h4>
    Status porudzbine:
    {{
      selectedSto
        ? selectedPorudzbina
          ? selectedPorudzbina.statusPorudzbine
          : "Nema porudzbine"
        : "Greska"
    }}
    <button *ngIf="!selectedPorudzbina" pButton class="p-button-rounded p-button-outlined" (click)="createNewPorudzbina()">Kreiraj porudzbinu</button>
    <button *ngIf="selectedPorudzbina && selectedPorudzbina.statusPorudzbine==='DOSTAVLJENO'" pButton class="p-button-rounded p-button-outlined" (click)="naplatiPorudzbinu()">Naplati</button>
    <button *ngIf="selectedPorudzbina" pButton class="p-button-rounded p-button-outlined" (click)="savePorudzbina()">Sačuvaj izmene</button>
  </h4>
  <p-card header="Porudzbina" *ngIf="selectedSto && selectedPorudzbina">
    <h4>Jela:</h4>
    <p-card
      *ngFor="let jelo of selectedPorudzbina!.jelaPorudzbine"
      [style]="{ 'margin-bottom': '20px', 'margin-top': '20px' }"
    >
      <ng-template pTemplate="header">
        {{ jelo.jelo.naziv }}
        <div [ngSwitch]="jelo.statusJela">
          <p-tag
            *ngSwitchCase="'KREIRANO'"
            severity="info"
            [value]="jelo.statusJela"
            [rounded]="true"
          ></p-tag>
          <p-tag
            *ngSwitchCase="'PREUZETO'"
            severity="warning"
            [value]="jelo.statusJela"
            [rounded]="true"
          ></p-tag>
          <p-tag
            *ngSwitchCase="'PRIPREMLJENO'"
            severity="success"
            [value]="jelo.statusJela"
            [rounded]="true"
          ></p-tag>
          <p-tag
            *ngSwitchCase="'DOSTAVLJENO'"
            [value]="jelo.statusJela"
            [rounded]="true"
          ></p-tag>
        </div>
      </ng-template>
      <div>Kolicina: {{ jelo.kolicina }}</div>
      <div>Cena: {{ jelo.jelo.trenutnaCena }}</div>
      <div>Napomena {{jelo.napomena}}</div>
      <ng-template pTemplate="footer">
        <div style="margin-bottom: 10px">
          <p-tag
            severity="info"
            [value]="jelo.jelo.tipJela"
            [rounded]="true"
            [style]="{ 'margin-right': '20px' }"
          ></p-tag>
          <p-tag
            severity="info"
            [value]="jelo.jelo.kategorijaJela"
            [rounded]="true"
          ></p-tag>
        </div>
        <button
          pButton
          class="p-button-rounded p-button-outlined green"
          *ngIf="jelo.statusJela === 'PRIPREMLJENO'"
          (click)='dostaviJelo(jelo)'
        >
          Dostavi
        </button>
      </ng-template>
    </p-card>
    <p-dropdown
      [options]="jela"
      [(ngModel)]="selectedJelo"
      optionLabel="naziv"
      [filter]="true"
      filterBy="naziv"
      [showClear]="true"
      placeholder="Izabrati jelo"
    >
      <ng-template pTemplate="selectedItem">
        <div *ngIf="selectedJelo">
          <div>{{ selectedJelo.naziv }}</div>
        </div>
      </ng-template>
      <ng-template let-jelo pTemplate="item">
        <p-card header="{{ jelo.naziv }}">
          <div>Cena: {{ jelo.trenutnaCena }}</div>
          <p-tag
            severity="info"
            [value]="jelo.tipJela"
            [rounded]="true"
            [style]="{ 'margin-right': '20px' }"
          ></p-tag>
          <p-tag
            severity="info"
            [value]="jelo.kategorijaJela"
            [rounded]="true"
          ></p-tag>
        </p-card>
      </ng-template>
    </p-dropdown>
    <button
      *ngIf="selectedJelo"
      style="margin-left: auto"
      pButton
      class="p-button-rounded p-button-outlined green"
      (click)='openNewItemDialogForJelo()'
    >
      Dodaj jelo
    </button>
    <h4>Pica:</h4>
    <p-card
      *ngFor="let pice of selectedPorudzbina!.picaPorudzbine"
      [style]="{ 'margin-bottom': '20px', 'margin-top': '20px' }"
    >
      <ng-template pTemplate="header">
        {{ pice.pice.naziv }}
        <div [ngSwitch]="pice.statusPica">
          <p-tag
            *ngSwitchCase="'KREIRANO'"
            severity="info"
            [value]="pice.statusPica"
            [rounded]="true"
          ></p-tag>
          <p-tag
            *ngSwitchCase="'PRIPREMLJENO'"
            severity="success"
            [value]="pice.statusPica"
            [rounded]="true"
          ></p-tag>
          <p-tag
            *ngSwitchCase="'DOSTAVLJENO'"
            [value]="pice.statusPica"
            [rounded]="true"
          ></p-tag>
        </div>
      </ng-template>
      <div>Kolicina: {{ pice.kolicina }}</div>
      <div>Cena: {{ pice.pice.trenutnaCena }}</div>
      <div>Napomena: {{pice.napomena}}</div>
      <ng-template pTemplate="footer">
        <button
          pButton
          class="p-button-rounded p-button-outlined green"
          *ngIf="pice.statusPica === 'PRIPREMLJENO'"
          (click)='dostavi(pice)'
        >
          Dostavi
        </button>
      </ng-template>
    </p-card>
    <p-dropdown
      [options]="pica"
      [(ngModel)]="selectedPice"
      optionLabel="naziv"
      [filter]="true"
      filterBy="naziv"
      [showClear]="true"
      placeholder="Izabrati pice"
    >
      <ng-template pTemplate="selectedItem">
        <div *ngIf="selectedPice">
          <div>{{ selectedPice.naziv }}</div>
        </div>
      </ng-template>
      <ng-template let-pice pTemplate="item">
        <p-card header="{{ pice.naziv }}">
          <div>Cena: {{ pice.trenutnaCena }}</div>
        </p-card>
      </ng-template>
    </p-dropdown>
    <button
      *ngIf="selectedPice"
      style="margin-left: auto"
      pButton
      class="p-button-rounded p-button-outlined green"
      (click)='openNewItemDialogForPice()'
    >
      Dodaj pice
    </button>
  </p-card>
</p-sidebar>

<p-dialog
  [(visible)]="newItemDialog"
  [style]="{ width: '450px' }"
  [header]="creatingPice ? 'Dodaj piće' : 'Dodaj jelo'"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">

    <div class="field">
      <label for="kolicina">Količina</label>
      <p-inputNumber
        id="kolicina"
        [(ngModel)]="newKolicina"
      ></p-inputNumber>
      <small
        class="p-error"
        *ngIf="!(newKolicina > 0)"
        >Količina mora biti veća od 0.</small
      >
    </div>

    <div class="field">
      <label for="napomena">Napomena</label>
      <input
        type="text"
        pInputText
        id="napomena"
        [(ngModel)]="newNapomena"
      />
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="addItem()"
    ></button>
  </ng-template>
</p-dialog>
